# Terraform
*.tfstate
*.tfstate.*
.terraform/
*.tfplan
*.tfvars
*.tfvars.json
.env
.env.*
override.tf
override.tf.json
*_override.tf
*_override.tf.json
crash.log
crash.*.log

# Ansible
*.retry
*.fact
*.cache
vault_pass.txt
.vault_pass

# Python
__pycache__/
*.pyc
*.pyo

# VS Code
.vscode/
