*filter

:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]

-A INPUT -i lo -j ACCEPT
-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT

# SSH
-A INPUT -p tcp -s {{ management_ip }} --dport 22 -j ACCEPT
-A INPUT -p tcp -s {{ proxmox }} --dport 22 -j ACCEPT

# DNS
-A INPUT -p udp -s 10.0.0.0/24 --dport 53 -j ACCEPT
-A INPUT -p tcp -s 10.0.0.0/24 --dport 53 -j ACCEPT

# Backend
-A INPUT -p tcp -s {{ hostvars['nginx']['ansible_host'] }} --dport 8081 -j ACCEPT
-A INPUT -p tcp -s {{ hostvars['nginx']['ansible_host'] }} --dport 8082 -j ACCEPT

COMMIT